
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D2E0DB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 15px;
}

.menu-bar
{   
    background-color: #83D3D6;
    padding: 30px;
    display: flex;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 0%;
    left: 0%;
    width: 100%;
    justify-content: center; /* centers the links horizontally */
    gap: 40px;               /* adds space between the two links */
    box-sizing: border-box;  /* prevents width overflow from padding */
}

.menu-bar a
{
    color:#12263A;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu-bar a:hover
{
    color: rgb(155, 155, 155);
}

.signup-btn
{
    background-color: rgb(0, 179, 0);
    color: rgb(0, 0, 0);
    border: none;
    margin-top: 10px;
}