
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D2E0DB;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

 .login-box {   
    width:300px;
    margin:100px auto;
    padding:20px;
    border:2px solid #333;
    background-color: #f9f9f9c2;
    text-align:center;
    border-radius: 20px;
}

.login-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.login-button {
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 7px;
    background-color: #314889;
    color: rgba(255, 255, 255, 0.856);
    transition: background-color 0.2s;    
}

.login-button:hover {
    background-color: rgba(255, 255, 255, 0.856);
    color: #314889;
}

.signup-btn {
    background-color: rgb(0, 179, 0);
    color: rgb(0, 0, 0);
    border: none;
    margin-top: 5px;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.2s;
}

.signup-btn:hover {
    background-color:  rgba(0, 179, 0, 0.473);
    color:rgb(0, 0, 0);
}

.error-message {
    color:rgb(209, 0, 0);
    font-size: 14px;
    margin-bottom: 10px;
}

.menu-bar {   
    background-color: #262a49;
    padding: 15px;
    display: flex;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 0%;
    left: 0%;
    width: 100%;
    align-items: center;
    justify-content: space-between; /* this centers the links horizontally */
    box-sizing: border-box;  /* this prevents width overflow from padding */
    z-index: 100;   /*ensure that the navbar is above everything */
}

.menu-bar .navbarlinks a {
    color:#ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu-bar .navbarlinks a:hover {
    color: rgb(174, 174, 174);
}

.herobanner { 
    background: linear-gradient(135deg, #1a3a4a 0%, #0d2233 60%, #1a4a3a 100%);
    width: 100%;
    margin-top: 84px;
    padding: 80px 80px;
    text-align: left;        
    box-sizing: border-box;
    display: flex;           /* puts text on left, and the hero image on right */
    align-items: center;
    justify-content: space-between;
    min-height: 400px;       /* makes the hero banner taller */
}

.bannertextbox {
    max-width: 55%;
}

.bannerimage {  /* logo image inside hero banner*/
    width: 280px;
    border-radius: 12px;
}

.bannerwelcometitle {
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 800;
    margin: 0 0 15px 0;
}

.bannertitle {  /* big title text on the hero banner*/
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.bannerdescription {   /* description text on the hero banner */
    color: rgb(200, 200, 200);
    font-size: 18px;
    margin: 0 0 30px 0;
}

.Getstartedbutton { /* get started button on the hero banner */
    background-color: rgb(66, 219, 185);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 35px;
    border-radius: 8px;
    display: inline-block;
}

.Getstartedbutton:hover { /*effect when hovering above the button*/
    background-color: rgb(45, 180, 150);
}

.navbarlogo {
    width: 50px;             
    height: 50px;
    object-fit: cover;     
    border-radius: 8px;
    margin-left: 15px; 
}

.navbarlinks {
    display: flex;
    gap: 40px;
    align-items: center;
    position: absolute;     
    left: 50%;              
    transform: translateX(-50%);  /* shifts it back by half its own width */
}

.learn-page {
    margin-top: 100px;
    text-align: center;
    padding: 40px;
}

.learnpagetitle {
    font-size: 36px;
    color: #12263A;
    margin-bottom: 10px;
}

.learnpagesubtitle {
    font-size: 18px;
    color: #2c203b;
    margin-bottom: 40px;
    font-weight: 600;
}

.learngrid {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* adds 2 buttons per row*/
    gap: 30px;
    max-width: 700px;
    margin: 0 auto;
}

.learnbutton {
    background-color: #49518b;
    color: white;
    border-radius: 16px;
    padding: 10px;
    transition: background-color 0.2s;
    text-decoration: none;
}

.learnbutton:hover {
    background-color: #42DBB9;
    color: #000;
}

.learn-icon {
    font-size: 34px;
}

.learningcontent {
    padding: 40px;
    padding-top: 110px;
    max-width: 800px;
    width: 100%;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
}

.learning-back-button {
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    color: #262a49;
    margin-bottom: 25px;
}

.learning-back-button:hover {
    color: #42DBB9
}

.learningcontent-card {
    background-color: #98acb195;
    border-radius: 16px;
    padding: 50px;
    color: rgb(0, 0, 0);
}

.learningcontent-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.learningcontent-description {
    font-size: 16px;
    line-height: 1.5;
    color: #262a49;
    margin-bottom: 30px;
}

.learning-example {
    background-color: rgba(255, 255, 255, 0.429);
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 18px;
    color: #384057;
}

.footer {
    background-color: #262a49;
    color: rgb(180, 180, 180);
    text-align: center;
    padding: 30px;
    font-size: 14px;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex; 
}

.footer p {
    margin: 0;
}


.footerlinks {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
}

.footerlinks a {
    color: #59647b;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.footerlinks a:hover {
    color: white;
}

.practice-page {
    flex:1;
    padding: 40px;
    padding-top: 110px;
    text-align: center;
}

.practicetitle {
    font-size: 36px;
    color: #12263A;
    margin-bottom: 10px;
}

.practicesubtitle {
    font-size:18px;
    color: #2c203b;
    font-weight: 600;
    margin-bottom: 40px;
}

.practicecontent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 700px;
    gap: 40px;
}

.practicecard {
    border-radius: 16px;
    text-decoration: none;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.practicecard:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.practicecard h2 {
    margin: 0;
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.practicecard p {
    margin: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
}

.practice-icon {
    font-size: 36px;
    color: #000;
}

.practicecard.timeattack {
    margin-bottom: 70px;
}

.easy       { background-color: #417549; }
.medium     { background-color: #b48924; }
.hard       { background-color: #922e2e; }
.timeattack { background-color: #214a88; }

.gamepage {
    padding: 40px;
    padding-top: 110px;
    flex: 1;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.gamecontent {
    background-color: #262a49;
    border-radius: 16px;
    padding: 40px;
}

.gamecontent h1{
    color: white;
}

.gamemode {
    color: white;
}

.game-progress {
    color: white;
}

.score {
    color: white;
}

.questions {
    color: white;
}

.result {
    color: white;
}

.correct { color: #42DBB9; }

.incorrect {color: red}

.submit-btn {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    color: #000;
}

.gameinput {
    padding:10px;
    border-radius: 8px;
}

.practice-back-button {
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    color: #262a49;
    margin-bottom: 25px;
}

.practice-back-button:hover {
    color: #42DBB9
}