<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <title>Math Masters | Learn Division</title>
    </head>
<body>  
    <div class="menu-bar">
        <a href="/home" class="menu-logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2MKA6HWT8Qk-hn5AzfdHMYnVDRCwlukys5Q&s" alt="Logo" class="navbarlogo">
        </a>
        <div class="navbarlinks">
            <a href="/home">Home</a>
            <a href="/learn">Learning Math</a>
            <a href="/practice">Practice</a>
            <a href="/logout">Log Out</a>
        </div>
    </div>

    <div class="learningcontent">
            <a href="/learn" class="learning-back-button">← Back to Learning</a>

            <div class="learningcontent-card">
                <h1 class="learningcontent-title">Division (÷)</h1>
                <p class="learningcontent-description">
                    Division in maths is the process of breaking a number up into equal parts, and finding out how many equal parts can be made. 
                    <br>
                    <br>
                    For example, you can have 6 cars in you garage. But your three bestfriends decided to steal all of it adn share it equally among themselves. So each of them got 2 cars.
                    <br>
                    <br>
                    We can express this as: <strong>6 ÷ 3 = 2</strong>
                </p>

                <div class="learning-example">
                    <h3>Example:</h3>
                    <p>66 ÷ 33 = 2</p>
                    <p>9 ÷ 3 = 3</p>
                </div>
            </div>
    </div>

</body>
</html>