<!DOCTYPE html>
<html>
    <head>
        <!--Connecting the stylesheet and HTML page-->
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">

        <title>Math Masters | Homepage</title>
        
    </head>
<body> 
    <!--creating the menu bar-->
    <div class = "menu-bar">
            <a href="/learn">Learning Math</a>
            <a href="/practice">Practice</a>
    </div>

        <!--creating the content for the homepage-->
    <div class="content">
        <h1>Math Mastering System</h1>
        <p>Select a selection from the menu above</p>
    </div>

</body>
</html>