<!DOCTYPE html>
<html>
    <head>
        <!--Connecting the stylesheet and HTML page-->
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">

        <title>Math Masters | Homepage</title>
        
    </head>
<body>  
    <!--creating the menu bar-->
    <div class = "menu-bar">
            <a href="/learn">Learning Math</a>
            <a href="/practice">Practice</a>
            <a href="/Changeacc">Change Account</a>
    </div>

        <!--creating the content for the homepage-->
    <div class="content">
        <h1>Math Mastering System</h1>
        <p>Select a selection from the menu above</p>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2MKA6HWT8Qk-hn5AzfdHMYnVDRCwlukys5Q&s">

</body>
</html>