<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"> <!-- links the external CSS stylesheet to this page -->
        <title>Math Masters | Homepage</title>  <!-- creates a title for the HTML page -->
    </head>
<body>  
    <div class="menu-bar"> <!-- fixed navbar at the top of the page -->
        <a href="/home" class="menu-logo"> <!-- clicking the logo takes the user back to the homepage -->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2MKA6HWT8Qk-hn5AzfdHMYnVDRCwlukys5Q&s" alt="Logo" class="navbarlogo">
        </a>
        <div class="navbarlinks"> <!-- container for the nav links centered in the navbar -->
            <a href="/home">Home</a> <!-- creates a link to the homepage -->
            <a href="/learn">Learning Math</a> <!-- creates a link to the learning math page -->
            <a href="/practice">Practice</a> <!-- creates a link to the practice page -->
            <a href="/logout">Log Out</a> <!-- creates a link to the login page -->
        </div>
    </div>

    <div class="herobanner"> <!-- hero banner displayed at the top of the homepage -->
        <div class="bannertextbox"> <!-- left side text content of the hero banner -->
            <!-- displays the logged in username pulled from the Flask session -->
            <h2 class="bannerwelcometitle">Welcome, {{ username }}</h2> <!--shows Welcome, then the username the user used to login into the website-->
            <h1 class="bannertitle">Math Mastering System</h1>
            <!-- short description of what the website is for -->
            <p class="bannerdescription">A fun and interactive way to learn and practice maths for young prodigys!! Built for students who want to improve their skills and become a math wizard.</p>
            <!-- button that takes the user to the learning section -->
            <a href="/learn" class="Getstartedbutton">Get Started</a>
        </div>
        <!-- image on the right side of the hero banner -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2MKA6HWT8Qk-hn5AzfdHMYnVDRCwlukys5Q&s" alt="Math Logo" class="bannerimage">
    </div>

<footer class="footer"> <!-- footer with quick nav links -->
    <p>2026 Math Learning game | Made by Joe Shikagishi</p>
    <div class="footerlinks"> <!-- quick navigation links in the footer -->
        <a href="/home">Home</a> <!-- creates a link to the homepage -->
        <a href="/learn">Learning Math</a> <!-- creates a link to the learning math page -->
        <a href="/practice">Practice</a> <!-- creates a link to the practice -->
    </div>
</footer>

</body>
</html>