<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <title>Math Masters | Learn</title>
    </head>
    <body>
        
        <div class="menu-bar">
        <a href="/home" class="menu-logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2MKA6HWT8Qk-hn5AzfdHMYnVDRCwlukys5Q&s" alt="Logo" class="navbarlogo">
        </a>
        <div class="navbarlinks">
            <a href="/home">Home</a>
            <a href="/learn">Learning Math</a>
            <a href="/practice">Practice</a>
            <a href="/logout">Log Out</a>
        </div>
        </div>

        <div class="learn-page">
            <h1 class="learnpagetitle">Let's start learning math!!!</h1>
            <p class="learnpagesubtitle">Select topics from below.</p>

            <div class="learngrid">
                <a href="addtion" class="learnbutton">
                    <span class="learn-icon">+</span>
                    <h2>Addition</h2>
                </a>
                <a href="subtraction" class="learnbutton">
                    <span class="learn-icon">−</span>
                    <h2>Subtraction</h2>
                </a>
                <a href="multiplication" class="learnbutton">
                    <span class="learn-icon">x</span>
                    <h2>Multiplication</h2>
                </a>
                <a href="division" class="learnbutton">
                    <span class="learn-icon">÷</span>
                    <h2>Division</h2>
                </a>
            </div>
        </div>
    </body>
</html>