<HTML>
        <head>
            <title>Login Page</title> <!-- Title to my webpage -->
        </head>

    <body>
            <h2>Login Page</h2> <!-- main heading for my login page -->

            <form method="POST" action="/login"> <!-- creates a form for the user to login -->

                <!-- Creates text field for user to type in their username -->
                <input type="text" name="username" placeholder="Social Security Code" required>
                <br><br>
                <!-- Creates text field for user to type in their password -->
                <input type="password" name="password" placeholder="Password" required>
                <br><br>
                <!-- Creates a button to complete login-->
                <button type="submit">Login</button>
            </form>
    
    <script src="/static/script.js"></script>
    
    </body>

</HTML>     