<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <title>Math Masters | Practice</title>
    </head>
    <body>
        
        <div class="menu-bar">
        <a href="/home" class="menu-logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2MKA6HWT8Qk-hn5AzfdHMYnVDRCwlukys5Q&s" alt="Logo" class="navbarlogo">
        </a>
        <div class="navbarlinks">
            <a href="/home">Home</a>
            <a href="/learn">Learning Math</a>
            <a href="/practice">Practice</a>
            <a href="/logout">Log Out</a>
        </div>
        </div>

        <div class="practice-page">
            <h1 class="practicetitle">Practice Mode</h1>
            <p class="practicesubtitle">Choose a difficulty to get started</p>
        </div>

        <div class="practicecontent">
            <a href="/easy" class="practicecard easy">
                <span class="practice-icon">☆</span>
                <h2>Easy</h2>
                <p>Contains: Addition & Subtraction</p>
                <p>10 questions - 2 digit numberss</p>
            </a>
            <a href="/medium" class="practicecard medium">
                <span class="practice-icon">☆ ☆</span>
                <h2>Medium</h2>
                <p>Contains: Addition, Subtraction, Multiplication, Division</p>
                <p>15 questions - 2 digit numbers</p>
            </a>
            <a href="/hard" class="practicecard hard">
                <span class="practice-icon">☆ ☆ ☆</span>
                <h2>Hard</h2>
                <p>Contains: Addition, Subtraction, Multiplication, Division</p>
                <p>20 questions - 3 digit numbers</p>
            </a>
            <a href="/timeattack" class="practicecard timeattack">
                <span class="practice-icon">⏱</span>
                <h2>Time Attack</h2>
                <p>Contains: Addition, Subtraction, Multiplication, Division</p>
                <p>1 minute timer</p>
            </a>
        </div>
            
    <footer class="footer">
     <p>2026 Math Learning game | Made by Joe Shikagishi</p>
        <div class="footerlinks">
            <a href="/home">Home</a>
            <a href="/learn">Learning Math</a>
            <a href="/practice">Practice</a>
        </div>
    </footer>

    </body>
</html>