<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <title>Math Masters | Learn Subtraction</title>
    </head>
<body>  
    <div class="menu-bar">
        <a href="/home" class="menu-logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2MKA6HWT8Qk-hn5AzfdHMYnVDRCwlukys5Q&s" alt="Logo" class="navbarlogo">
        </a>
        <div class="navbarlinks">
            <a href="/home">Home</a>
            <a href="/learn">Learning Math</a>
            <a href="/practice">Practice</a>
            <a href="/logout">Log Out</a>
        </div>
    </div>

    <div class="learningcontent">
            <a href="/learn" class="learning-back-button">← Back to Learning</a>

            <div class="learningcontent-card">
                <h1 class="learningcontent-title">Subtraction (−)</h1>
                <p class="learningcontent-description">
                    Subtraction is the process of taking one number away from another. It helps us figure out how much is left, how far apart two numbers are, or how many remain after part of a group is removed.
                    <br>
                    <br>
                    For example, you can have 5 cars but your best friend who you thought would stay by your side forever, betrays you by taking 3 cars away, leading to severe depression. You will then have 2 cars!
                    <br>
                    <br>
                    We can express this as: <strong>5 - 3 = 2</strong>
                </p>

                <div class="learning-example">
                    <h3>Example:</h3>
                    <p>74 - 7 = 67</p>
                    <p>45 - 3 = 42</p>
                </div>
            </div>
    </div>

<footer class="footer">
    <p>2026 Math Learning game | Made by Joe Shikagishi</p>
    <div class="footerlinks">
        <a href="/home">Home</a>
        <a href="/learn">Learning Math</a>
        <a href="/practice">Practice</a>
    </div>
</footer>

</body>
</html>